
.galery{
    &__th {
    text-align: center;
    
    img{
            object-fit: cover;
            transition: .35s;
            filter: grayscale(0);
            cursor: pointer;
            width: 100%;
            height: 100%;
            text-align: center;
    }
}
    &__th img:hover{
        filter: grayscale(1);
        transition: all .3s ease-in;
    }
}



.bridge{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    margin-top: 8rem;

    &__txt h1{
        font-weight: bold;
        font-family: Dancing Script, sans-serif;
        font-size: 5em;
    }

    &__img {
        background-image: url(../../img/puentecarretero.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed ;
        background-size: cover;
        height: 500px;
    }
}

.map{
    background: #1E1E1E;
    padding-bottom: 20rem;

    &__cont{
        padding-top: 6rem;

        .map__img1 img{
            height: 630px;
        }
    }

    &__img2{
        width: 400px;
        height: 650px;
        gap: 30px;
    }
}

.dpto__bg{
    background: linear-gradient(90deg, rgba(212,12,12,1) 0%, rgba(255,255,255,1) 25%, rgba(117,145,254,1) 50%, rgba(255,255,255,1) 75%, rgba(212,12,12,1) 100%);
    width: 100%;
    display: grid;
    justify-content: space-around;
    padding-bottom: 3rem;
}

.dpto{
    display: flex;
    gap: 10rem;
    padding-top: 10rem;

    &__visit{
        flex-direction: column;
        display: flex;
        align-items: center;

    }

    &__visit h2{
        font-size: 3em;
        font-weight: bold;
    }

    &__visit ul li a{
        width: 50px;
        flex-direction: row;
    }

    &__visit ul{
        display: flex;
        gap: 2rem;
        margin-bottom: 10rem;
    }
}

.form{
    background-color: #1e1e1e;
    width: 450px;
    max-width: 460px;
    padding: 4rem 3rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgba(255, 255, 255, 0.315);
    color: rgb(255, 255, 255);
    text-align: center;

    &__title{
        font-size: 3em;
        margin-bottom: .5rem;
        font-weight: bold;
    }

    &__text{
        font-size: 1.3em;
        font-weight: 500;
    }

    &__container{
        margin-top: 3rem;
        display: grid;
        gap: 2.5rem;
    }

    &__group{
        position: relative;

        .form__input{
            width: 100%;
            background: none;
            color: #ffffff;
            font-size: 1.6em;
            padding: .6rem .3rem;
            border: none;
            outline: none;
            border-bottom: 1px solid rgb(255, 255, 255);
        }

        .form__input:focus{
            box-shadow: 1px 4px 6px -3px rgba(255, 255, 255, 0.315);

        }

        .form__input:focus + .form__label,
        .form__input:not(:placeholder-shown) + .form__label{
            transform: translateY(-20px) scale(.7);
            transform-origin: left top;
        }
        
        .form__label{
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 5px;
            transform: translateY(10px);
            transition: transform .5s, color .3s;
            font-size: 2em;
        }

        .form__label2{
            font-size: 2em;
            color: rgb(255, 255, 255);
        }

        .form__area{
            background-color: #1E1E1E;
            font-size: 1.5em;
            max-width: 350px;
            height: 200px;
            color: white;
        }

        .form__area:focus{
        box-shadow: 0 7px 10px -5px rgba(255, 255, 255, 0.315);

        }
    }

    .btn{
        color: white;
    }

    .btn:hover{
        color: #b38689;
        scale: 1.1;
    }
}

::placeholder{
    background-color: #1E1E1E;
}

.dpto__list {
    width: 100%;
    element.style {
        display: grid;
        width: 451px;
        height: 500px;
        justify-items: center;
    }

    ul{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    max-height: 405px;
    gap: 0.5rem;
    font-size: 1.6em;
    column-gap: 2rem;
    }

    h2{
        font-size: 3em;
        font-weight: bold;
        padding-bottom: 3rem;
        margin-bottom: 10rem;
    }
}

footer{
    width: 100%;
    background-color: #000000;
    height: fit-content;
    display: flex;
    padding-top: 7rem;
    padding-bottom: 3rem;

    h2{
        font-size: 2.5em;
        color:#ffffff;
        font-weight: 600;
    }
}

.d-flex{
    justify-content: space-evenly;
    
    nav a{
        width: 50px;
        padding: .2rem;
    }
}

.form2{
    padding: 2rem 1rem;
    border: none;
    border-left: red 1px solid;
    padding-left: 3rem;
    width: 400px;
    height: 506px;
    background-color: #060505;

    .btn{
        color: white!important;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .btn:hover{
        color: #b38689;
        scale: 1.1;
    }

    .form__container2{
        display: grid;
        justify-content: center;
        margin-top: 2rem;
        gap: 1rem;
    }

    .form__group2{
        .form__input2{
                width: 100%;
                background:#1E1E1E;
                color: #ffffff;
                font-size: 1.6em;
                padding: .6rem .3rem;
                border: none;
                outline: none;
                border-bottom: 1px solid rgb(255, 255, 255);
        }

        .form__label2{
            display: inline-block;
            color: #ffffff;
            font-size: 2.0em;
        }
    }
}
